<div class="container">
  <div class="information">
    <form [formGroup]="form" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" autocomplete="off" placeholder="Enter your name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" autocomplete="off" placeholder="Enter your email" [autocomplete]="false" >

    </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="off" placeholder="Enter your password">

    </mat-form-field>
    <div class="button">
      <button type="submit" class="btn-save" [disabled]="!form.valid">Save</button>
      <button routerLink="/login" class="btn-cancel">Cancel</button>
    </div>
    </form>
  </div>
</div>
